<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Функционал состоит из 9 основных разделов, которые расположены в левом боковом меню программы. Система рассчитана на 3 типа пользователей &ndash; администратора, завсклад и мастеров сервисного центра.</p>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>1. Показатели &ndash; </strong>рабочий стол программы, видный все пользователям. Он отображает общие показатели деятельности сервисного центра &ndash; размер среднего чека, отчеты по зарплатам, информацию о продажах и т.д.</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/indicator.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>2. Заказы &ndash; </strong>раздел для создания, хранения и редактирования текущих заказов ателье. Пользователь может быстро найти заказ на ремонт по имени мастера, клиента или номеру заявки.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Чем удобен данный раздел:</p>

<ul>
	<li>система автоматически подсвечивает просроченные заказы. Такой подход позволяет контролировать работу мастеров и выявлять недобросовестных исполнителей</li>
	<li>пользователи могут изменять данные текущих заказов. После завершения заказа его данные нельзя отредактировать;</li>
	<li>при завершении заказа в разделе &laquo;Касса&raquo; автоматически формируются документы прихода денежных средств;</li>
	<li>система автоматически списывает со склада запчасти, указанные менеджеров в заказе на ремонт;</li>
	<li>добавленный в заказ новый клиент автоматически сохраняется в базе клиентов.</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/orders.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Для создания нового заказа менеджер заполняет электронную форму, в которой указывает:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>данные о мастере и клиенте;</li>
	<li>фурнитура, тип заказа и реклама;</li>
	<li>срочность, сумму предоплаты и скидки;</li>
	<li>комментарии к заказу.</li>
</ul>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Пользователю доступны данные о заказах за разные периоды &ndash; день, неделю, месяц, весь период работы.</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/order_create.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>3. Химчистка &ndash; </strong>раздел для создания, хранения и редактирования текущих химчистков ателье. Пользователь может быстро найти заказ на ремонт по имени мастера, клиента или номеру заявки.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>система автоматически подсвечивает просроченные заказы. Такой подход позволяет контролировать работу мастеров и выявлять недобросовестных исполнителей</li>
	<li>пользователи могут изменять данные текущих заказов. После завершения заказа его данные нельзя отредактировать;</li>
	<li>при завершении заказа в разделе &laquo;Касса&raquo; автоматически формируются документы прихода денежных средств;</li>
	<li>система автоматически списывает со склада запчасти, указанные менеджеров в заказе на ремонт;</li>
	<li>добавленный в заказ новый клиент автоматически сохраняется в базе клиентов.</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/chemistry.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>4. Касса - </strong> позволяет контролировать движение денежных средств в мастерской (приход и расход финансов), а также анализировать рентабельность заказов на ремонт, продажи запчастей.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/cash.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Для создания новой статьи пользователь указывает:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>ателье</li>
	<li>тип операции (приход или расход денег);</li>
	<li>статья (выдача товара, оплата за заказ, продажа товара, оплата аренды и другие);</li>
	<li>сумму прихода или расхода.</li>
	<li>комментария</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/cash_create.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>5. Склад &ndash; </strong>секция для грамотного учета складских остатков, оформления и перемещения вновь поступивших товаров.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/sklad.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Менеджер может добавить новый товар всего за несколько секунд:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>указать название и категорию;</li>
	<li>склада</li>
	<li>данные о поставщике;</li>
	<li>количество поступивших товаров, их закупочную и цену;</li>
	<li>комментария</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/sklad_create.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Добавленные на склад товары автоматически перемещаются в секцию &laquo;Оприходовано&raquo;. Программа позволяет вести учет товаров на нескольких складах сервисного центра. Находясь в курсе всех хранящихся на складе запчастей, менеджеры быстрее обрабатывают заявки на ремонт.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/sklad3.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Секция &laquo;Ожидает поступления&raquo; содержит наименования запчастей, которых пока нет в наличии. Вкладка позволяет избежать ошибок при оформлении заявок на ремонт.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/sklad2.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> 6. СМС &ndash; </strong>секция для создания текстов рекламной рассылки новым и постоянным клиентам сервиса. Пользователь выбирает адресата, название письма и вводит текст в электронное поле. Удобно для информирования клиентов об акциях, скидках, поступлении нового товара в магазин.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/sms.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> 7. Отчет &ndash; </strong>раздел для формирования отчетов:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>продажам;</li>
	<li>рекламным акциям;</li>
	<li>прибыли мастерской.</li>
</ul>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Для составления отчета администратор выбирает нужный ему раздел, период, за который надо проанализировать прибыль или эффективность работы, фамилию мастера, которому нужно сформировать заработную плату</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Секция позволяет:</p>

<ul>
	<li>рассчитывать заработок исполнителей исходя из количества выполненных ими заказов на ремонт и их стоимости.</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/zarplata.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>анализировать прибыль по продаже запчастей;</li>
	<li>подсчитывать прибыль по выполненным заказам;</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/report_order.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>рассчитывать общую прибыль от всех видов деятельности сервисного центра.</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/prodaja.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>8. Справочники &ndash;</strong> системная папка, содержащая:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>Статьи расходов/доходов;</li>
	<li>Группы клиентов;</li>
	<li>Реклама;</li>
	<li>Фурнитура;</li>
	<li>Статусы заказов;</li>
	<li>Категория товаров;</li>
	<li>Статусы заявок;</li>
	<li>Цветовая маркировка;</li>
	<li>Тип одежды;</li>
	<li>Срочный заказ;</li>
	<li>Cтепень и тип загрязнения;</li>
	<li>Наличие пятен;</li>
	<li>Маркировка;</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/spr1.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>9. Настройки &ndash; </strong>системный раздел, предназначенный для:</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>учета клиентов сервисного центра;</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/spr4.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>добавления новых складов мастерской и их учета;</li>
	<li>хранения информации о мастерах и менеджерах сервисного центра;</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/spr5.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>быстрого оформления актов о приемке на ремонт и актов о выполненной работе за счет встроенных шаблонов. Любой документ(акт, гарантийный талон) можно распечатать прямо из системы.</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="" src="http://atelye.loc/instruksiya/shablon.jpg" /></p>

<p>&nbsp;</p>
